In [31]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.decomposition import PCA

In [32]:
EmpleadosAttrition=pd.read_csv(r"C:\Users\ricardo.villamizar\OneDrive - American Tower\Documentos Ricardo Villamizar\Script\cursos\entregables\modulo 1\Reto1.csv")

In [33]:
Nuevos_EmpleadosAttrition=EmpleadosAttrition.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'],axis=1)

In [34]:
Nuevos_EmpleadosAttrition['Year']=pd.to_datetime(Nuevos_EmpleadosAttrition['HiringDate']).dt.year

In [35]:
Nuevos_EmpleadosAttrition['YearsAtCompany']=2018-Nuevos_EmpleadosAttrition['Year']

In [36]:
Nuevos_EmpleadosAttrition=Nuevos_EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'})

In [37]:
Nuevos_EmpleadosAttrition['DistanceFromHome'] = Nuevos_EmpleadosAttrition['DistanceFromHome_km'].str.split(pat=' ').str[0].astype(int)

In [38]:
Nuevos_EmpleadosAttrition=Nuevos_EmpleadosAttrition.drop(['DistanceFromHome_km','HiringDate','Year'],axis=1)

In [39]:
SueldoPromedioDepto=Nuevos_EmpleadosAttrition.groupby(['Department'])['MonthlyIncome'].mean()

In [40]:
SueldoPromedioDepto=SueldoPromedioDepto.reset_index()

In [41]:
SueldoPromedioDepto=SueldoPromedioDepto.rename(columns={'MonthlyIncome':'SueldoPromedio'})

In [42]:
SueldoPromedioDepto

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7188.250000

In [43]:
Nuevos_EmpleadosAttrition_BusinessTravel=pd.get_dummies(Nuevos_EmpleadosAttrition.BusinessTravel, prefix ='BusinessTravel')
Nuevos_EmpleadosAttrition_Department=pd.get_dummies(Nuevos_EmpleadosAttrition.Department, prefix ='Department')
Nuevos_EmpleadosAttrition_EducationField=pd.get_dummies(Nuevos_EmpleadosAttrition.EducationField, prefix ='EducationField')
Nuevos_EmpleadosAttrition_Gender=pd.get_dummies(Nuevos_EmpleadosAttrition.Gender, prefix ='Gender')
Nuevos_EmpleadosAttrition_JobRole=pd.get_dummies(Nuevos_EmpleadosAttrition.JobRole, prefix ='JobRole')
Nuevos_EmpleadosAttrition_MaritalStatus=pd.get_dummies(Nuevos_EmpleadosAttrition.MaritalStatus, prefix ='MaritalStatus')
Nuevos_EmpleadosAttrition_OverTime=pd.get_dummies(Nuevos_EmpleadosAttrition.OverTime, prefix ='OverTime')
Nuevos_EmpleadosAttrition_Attrition=pd.get_dummies(Nuevos_EmpleadosAttrition.Attrition, prefix ='Attrition')

In [44]:
Nuevos_EmpleadosAttrition_numerico=pd.concat([Nuevos_EmpleadosAttrition,Nuevos_EmpleadosAttrition_BusinessTravel,Nuevos_EmpleadosAttrition_Department,Nuevos_EmpleadosAttrition_EducationField,Nuevos_EmpleadosAttrition_Gender,Nuevos_EmpleadosAttrition_JobRole,Nuevos_EmpleadosAttrition_MaritalStatus,Nuevos_EmpleadosAttrition_OverTime,Nuevos_EmpleadosAttrition_Attrition],axis=1)

In [45]:
Nuevos_EmpleadosAttrition_numerico=Nuevos_EmpleadosAttrition_numerico.drop(['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','OverTime','Attrition'],axis=1)

In [46]:
escalador = preprocessing.MinMaxScaler()
frame_escalado = escalador.fit_transform(Nuevos_EmpleadosAttrition_numerico)

In [47]:
Nuevos_EmpleadosAttrition_numerico['MonthlyIncome_norm'] = pd.Series(frame_escalado[:,7])

In [48]:
Nuevos_EmpleadosAttrition_numerico

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,...,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes,MonthlyIncome_norm
0,50,2,4,3,4,4,17399,9,22,4,...,0,0,1,0,0,1,0,1,0,1.000000
1,36,2,2,3,2,2,4941,6,20,4,...,0,0,1,0,0,1,0,1,0,0.666667
2,21,1,2,3,1,2,2679,1,13,3,...,0,1,0,0,1,1,0,0,1,0.111111
3,52,4,2,3,3,2,10445,7,19,3,...,0,0,0,0,1,1,0,1,0,0.777778
4,33,1,2,3,3,3,13610,7,12,3,...,0,0,0,1,0,0,1,0,1,0.777778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,3,1,4,2436,5,13,3,...,0,0,0,1,0,0,1,0,1,0.555556
396,31,3,2,1,2,3,4559,3,11,3,...,1,0,0,1,0,0,1,0,1,0.333333
397,37,3,2,3,3,4,12185,1,14,3,...,0,0,1,0,0,0,1,1,0,0.111111
398,38,2,4,3,1,3,3306,7,19,3,...,0,0,0,1,0,1,0,1,0,0.777778
399,33,3,4,3,1,2,2756,1,13,3,...,0,0,0,1,0,1,0,1,0,0.111111

In [49]:
Nuevos_EmpleadosAttrition_numerico=Nuevos_EmpleadosAttrition_numerico.drop(['MonthlyIncome'],axis=1)
Nuevos_EmpleadosAttrition_numerico.dtypes

Age                                    int64
Education                              int64
EnvironmentSatisfaction                int64
JobInvolvement                         int64
JobLevel                               int64
JobSatisfaction                        int64
NumCompaniesWorked                     int64
PercentSalaryHike                      int64
PerformanceRating                      int64
RelationshipSatisfaction               int64
TotalWorkingYears                      int64
TrainingTimesLastYear                  int64
WorkLifeBalance                        int64
YearsInCurrentRole                     int64
YearsSinceLastPromotion                int64
YearsAtCompany                         int64
DistanceFromHome                       int32
BusinessTravel_Non-Travel              uint8
BusinessTravel_Travel_Frequently       uint8
BusinessTravel_Travel_Rarely           uint8
Department_Human Resources             uint8
Department_Research & Development      uint8
Department_Sales                       uint8
EducationField_Human Resources         uint8
EducationField_Life Sciences           uint8
EducationField_Marketing               uint8
EducationField_Medical                 uint8
EducationField_Other                   uint8
EducationField_Technical Degree        uint8
Gender_Female                          uint8
Gender_Male                            uint8
JobRole_Healthcare Representative      uint8
JobRole_Human Resources                uint8
JobRole_Laboratory Technician          uint8
JobRole_Manager                        uint8
JobRole_Manufacturing Director         uint8
JobRole_Research Director              uint8
JobRole_Research Scientist             uint8
JobRole_Sales Executive                uint8
JobRole_Sales Representative           uint8
MaritalStatus_Divorced                 uint8
MaritalStatus_Married                  uint8
MaritalStatus_Single                   uint8
OverTime_No                            uint8
OverTime_Yes                           uint8
Attrition_No                           uint8
Attrition_Yes                          uint8
MonthlyIncome_norm                   float64
dtype: object

In [50]:
correlacion=Nuevos_EmpleadosAttrition_numerico.corr()
correlacionAttrition_No=abs(correlacion['Attrition_No'])
correlacionAttrition_No
seleccion=correlacionAttrition_No>=0.1
seleccion

Age                                   True
Education                            False
EnvironmentSatisfaction               True
JobInvolvement                        True
JobLevel                              True
JobSatisfaction                       True
NumCompaniesWorked                   False
PercentSalaryHike                    False
PerformanceRating                    False
RelationshipSatisfaction             False
TotalWorkingYears                     True
TrainingTimesLastYear                False
WorkLifeBalance                      False
YearsInCurrentRole                    True
YearsSinceLastPromotion              False
YearsAtCompany                        True
DistanceFromHome                     False
BusinessTravel_Non-Travel             True
BusinessTravel_Travel_Frequently     False
BusinessTravel_Travel_Rarely         False
Department_Human Resources           False
Department_Research & Development    False
Department_Sales                     False
EducationField_Human Resources       False
EducationField_Life Sciences         False
EducationField_Marketing             False
EducationField_Medical               False
EducationField_Other                 False
EducationField_Technical Degree       True
Gender_Female                        False
Gender_Male                          False
JobRole_Healthcare Representative     True
JobRole_Human Resources              False
JobRole_Laboratory Technician         True
JobRole_Manager                      False
JobRole_Manufacturing Director       False
JobRole_Research Director             True
JobRole_Research Scientist           False
JobRole_Sales Executive              False
JobRole_Sales Representative          True
MaritalStatus_Divorced                True
MaritalStatus_Married                False
MaritalStatus_Single                  True
OverTime_No                           True
OverTime_Yes                          True
Attrition_No                          True
Attrition_Yes                         True
MonthlyIncome_norm                   False
Name: Attrition_No, dtype: bool

In [51]:

EmpleadosAttritionFinal=Nuevos_EmpleadosAttrition_numerico[['Age','EnvironmentSatisfaction','JobInvolvement','JobLevel','JobSatisfaction','TotalWorkingYears','YearsInCurrentRole','YearsAtCompany','BusinessTravel_Non-Travel','EducationField_Technical Degree','JobRole_Healthcare Representative','JobRole_Laboratory Technician','JobRole_Research Director','JobRole_Sales Representative','MaritalStatus_Divorced','MaritalStatus_Single','OverTime_No','Attrition_No']]
EmpleadosAttritionFinal

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,BusinessTravel_Non-Travel,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,OverTime_No,Attrition_No
0,50,4,3,4,4,32,4,5,0,0,0,0,1,0,1,0,1,1
1,36,2,3,2,2,7,2,3,0,0,0,0,0,0,1,0,1,1
2,21,2,3,1,2,1,0,1,0,0,0,0,0,1,0,1,1,0
3,52,2,3,3,2,18,6,8,0,0,1,0,0,0,0,1,1,1
4,33,2,3,3,3,15,6,7,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,8,4,5,0,0,0,1,0,0,0,0,0,0
396,31,2,1,2,3,4,2,2,0,0,0,0,0,0,0,0,0,0
397,37,2,3,3,4,10,8,10,0,0,0,0,1,0,1,0,0,1
398,38,4,3,1,3,7,0,0,0,0,0,1,0,0,0,0,1,1
399,33,4,3,1,2,8,7,8,0,0,0,0,0,0,0,0,1,1

In [52]:
EmpleadosAttritionPCA=PCA(18)

In [53]:
EmpleadosAttritionPCA.fit(EmpleadosAttritionFinal)

PCA(n_components=18)

In [54]:
print(EmpleadosAttritionPCA.components_)

[[ 6.86364972e-01 -2.21667930e-03  3.09606129e-04  7.10668994e-02
   7.90330710e-04  6.38180877e-01  1.53879327e-01  3.04352301e-01
  -1.50713953e-03 -1.08597516e-03  3.14729347e-03 -6.54452598e-03
   8.30579847e-03 -6.01986866e-03  4.18398964e-04 -5.08935039e-03
   1.83986245e-03  8.49182468e-03]
 [ 5.95639918e-01  2.45414862e-03  5.32446821e-03 -3.81519249e-02
  -5.51518961e-03 -2.25314537e-01 -3.82963249e-01 -6.67965342e-01
  -1.65461826e-03 -3.16171570e-03  2.59115902e-03  3.70212446e-03
  -5.20765359e-03  7.08077906e-04 -3.57243620e-03  2.61986321e-03
   1.49557458e-03 -2.21420108e-03]
 [-4.16562606e-01 -9.96438966e-03 -1.26078290e-02  6.18586911e-02
  -1.77267420e-02  7.26065972e-01 -3.30219783e-01 -4.30565910e-01
   2.94245321e-04 -3.43662054e-03  2.14753336e-03 -1.00151622e-02
   9.26569826e-03  2.54799599e-03 -8.11909189e-03  1.19520525e-02
  -2.99836899e-03 -6.76696567e-03]
 [ 1.80500119e-02  3.21905762e-03  1.47327180e-02  5.73143595e-03
  -3.47858794e-02 -6.50993273e-02 -8.47620886e-01  5.24235807e-01
  -1.40600809e-03  1.54947675e-03 -3.75012416e-03  1.03120910e-02
  -1.08841519e-02  2.70017976e-03  1.15870286e-02  2.84420930e-03
  -1.92459041e-03 -1.68824258e-02]
 [ 7.98541478e-04  5.77164806e-01  3.64749519e-02 -5.51479645e-02
  -8.11479316e-01  4.14580774e-03  3.18455999e-02 -6.43750031e-03
  -1.82029867e-02 -1.89781119e-02 -1.03635385e-02  1.75257616e-02
   6.30204572e-03  6.01732932e-03 -2.01340293e-02 -1.73489238e-03
  -3.10156725e-02 -1.96117377e-02]
 [ 6.33064325e-03 -8.12023089e-01  5.99965634e-04  2.55172639e-02
  -5.76578798e-01 -1.56361120e-02  2.22772723e-02 -1.23111253e-03
  -5.81826462e-03  7.51424081e-03  4.57118389e-03  1.63785406e-03
   2.00134827e-02  1.85596488e-02 -2.18838776e-02  1.02397443e-02
   1.55645769e-02 -7.11100393e-02]
 [ 5.10652816e-03 -3.35338536e-02 -5.01908460e-01 -8.27413758e-01
   1.42259371e-02  8.10852415e-02 -8.38251465e-04  2.25468563e-02
  -2.51755726e-03  1.32788521e-02 -1.10302879e-02  1.58674802e-01
  -1.31219239e-01  2.03888750e-02  4.75814405e-02 -2.93237125e-03
  -1.52220104e-02 -9.70411965e-02]
 [ 8.73569934e-03  5.03530994e-02 -8.52806782e-01  4.87729026e-01
  -3.77010593e-02 -6.03295965e-02 -7.08064419e-03 -2.71819827e-03
   5.71147843e-02  9.38732462e-03 -3.80231643e-04 -9.90012318e-02
   6.38252325e-02 -8.18904843e-03  1.99465030e-03  6.82962151e-02
  -4.81069493e-03 -7.16021316e-02]
 [ 8.44976122e-03  1.14624704e-02  5.68044658e-02 -4.14132035e-02
   4.60833104e-02 -1.54065397e-03  7.03658034e-03  1.21475010e-02
  -6.86557660e-02  2.19730190e-02 -2.97970694e-02 -7.75499340e-02
  -6.55071189e-03  7.24933569e-02 -5.84595704e-01  6.70629573e-01
  -3.17696998e-01 -2.87590447e-01]
 [ 1.99710325e-03 -1.30022491e-02  3.34414007e-02  4.94785377e-02
   2.33544976e-02 -2.02395628e-03  6.56642352e-03 -7.86741700e-03
  -7.39816263e-02  4.94465760e-02 -1.04356608e-02  5.17521901e-03
   2.23731599e-02 -4.88184908e-02  2.88099749e-01 -2.93436674e-01
  -8.40390294e-01 -3.30614320e-01]
 [ 7.99435384e-04  6.78461668e-03  3.77419674e-02  1.36960530e-01
   1.62865776e-02 -3.33737212e-03  1.01354000e-02 -9.00627795e-03
   2.11298311e-01 -9.23277890e-02 -3.56254704e-01  8.22301923e-01
   1.44980747e-01 -1.38018793e-01  1.21146652e-01  1.79526958e-01
   5.74728564e-02 -1.81005579e-01]
 [-3.35192822e-03 -2.00047788e-04 -5.90631870e-02  3.99423281e-02
   1.97896358e-02 -2.74402781e-03 -8.83878918e-03  2.41623597e-03
  -1.09042008e-01  7.48047906e-02 -4.26205895e-02  2.33704864e-01
   1.63406804e-02 -9.74982624e-02 -7.28708211e-01 -6.16010734e-01
  -6.63681284e-03 -1.41245346e-02]
 [-2.94683870e-03 -3.79116357e-02 -3.86922956e-02 -1.88221004e-02
  -3.79276957e-02 -9.30466191e-04 -9.54244139e-03  4.36773878e-03
   5.20093341e-01 -1.39008363e-01  3.56720433e-01  1.39380302e-01
  -8.95906082e-02 -2.36395995e-01 -1.24919182e-01  9.39113285e-02
  -3.55708182e-01  5.86339842e-01]
 [-2.51605141e-03  2.60668074e-02  3.04758771e-02  1.14311673e-01
   8.67376575e-03 -4.16710172e-03  1.01499425e-02 -4.56646474e-03
  -1.89319757e-01  7.04699638e-02  7.70492999e-01  2.94021076e-01
  -3.08324758e-01 -1.35964466e-01  6.50135073e-02  4.75079027e-02
   1.61525892e-01 -3.43600169e-01]
 [ 3.82215043e-03  3.04365948e-02  8.14330335e-02  1.54944155e-03
   8.17368496e-03  4.49246134e-03  7.16563807e-03 -1.98221484e-03
   7.74665928e-01  1.57925079e-01 -1.26046836e-02 -1.77655135e-01
  -2.11233381e-01  2.32305548e-01 -5.76490997e-02 -1.57643161e-01
   1.31609360e-01 -4.37531627e-01]
 [ 1.89541710e-03  1.70071985e-02 -2.02397516e-03 -1.04778561e-01
   1.55657062e-02  7.19378070e-04 -7.41588927e-03  5.78872312e-03
   9.47776177e-02  2.92901292e-01  3.56454867e-01  8.63158876e-02
   8.17916771e-01  3.00085309e-01 -8.55973329e-05 -4.80399463e-03
   6.04524016e-03 -3.17331503e-03]
 [ 4.96639398e-04 -2.37287483e-03 -1.46092923e-02  9.33321750e-02
  -2.36332350e-02  7.34145008e-05  2.16925036e-03 -6.96676535e-03
  -9.19865787e-02  7.69181008e-01 -1.17288910e-01  2.08651547e-01
  -3.40591632e-01  3.26432077e-01  4.81827970e-02  7.99973419e-02
  -9.83670386e-02  3.03491546e-01]
 [ 1.47586418e-03 -5.84797031e-03 -2.32491226e-02  7.62823214e-02
   1.31059007e-02 -2.92998790e-03  3.76369378e-03  8.80588847e-04
  -7.57929932e-02 -5.05554463e-01  8.99962742e-02  1.97955420e-01
  -1.53090130e-01  7.98716500e-01 -2.66888121e-02 -7.16717776e-02
  -9.12996720e-02  9.60408566e-02]]

In [55]:
print(EmpleadosAttritionPCA.explained_variance_)

[1.22278531e+02 4.65618441e+01 1.52005499e+01 4.05305891e+00
 1.25644553e+00 1.24229064e+00 5.57097603e-01 5.40394230e-01
 2.66894134e-01 2.12509621e-01 1.30239021e-01 1.22961106e-01
 9.70664788e-02 8.59712407e-02 7.56529840e-02 5.45163574e-02
 4.83899545e-02 4.18462539e-02]

In [56]:
print(EmpleadosAttritionPCA.explained_variance_ratio_)

[6.34138378e-01 2.41470452e-01 7.88302899e-02 2.10192270e-02
 6.51594618e-03 6.44253870e-03 2.88911689e-03 2.80249294e-03
 1.38411715e-03 1.10207822e-03 6.75421604e-04 6.37678222e-04
 5.03388279e-04 4.45848200e-04 3.92337560e-04 2.82722683e-04
 2.50951062e-04 2.17015328e-04]

In [62]:
final=EmpleadosAttritionPCA.transform(EmpleadosAttritionFinal)

array([[ 2.02464940e+01,  4.20823532e+00,  1.07186318e+01, ...,
         5.30047727e-01, -1.94373586e-01, -1.07370913e-01],
       [-6.38118771e+00,  3.69163066e+00, -1.57170476e-01, ...,
        -1.84723690e-01,  1.23726321e-02, -7.80622527e-02],
       [-2.15132972e+01, -1.74195719e+00,  3.22397159e+00, ...,
         1.89101906e-01, -2.44995146e-02,  4.89501503e-01],
       ...,
       [-6.47424546e-01, -3.41809545e+00, -3.35214596e+00, ...,
         5.53579970e-01, -2.18821229e-01, -1.59264029e-02],
       [-6.31094618e+00,  7.69755262e+00,  8.60431323e-01, ...,
         5.72929032e-02,  6.86852966e-02,  6.44921926e-02],
       [-5.58686227e+00, -3.52861392e+00, -2.05901353e+00, ...,
        -5.89478379e-02, -1.59292168e-01, -1.23487870e-01]])

In [77]:
final

array([[ 2.02464940e+01,  4.20823532e+00,  1.07186318e+01, ...,
         5.30047727e-01, -1.94373586e-01, -1.07370913e-01],
       [-6.38118771e+00,  3.69163066e+00, -1.57170476e-01, ...,
        -1.84723690e-01,  1.23726321e-02, -7.80622527e-02],
       [-2.15132972e+01, -1.74195719e+00,  3.22397159e+00, ...,
         1.89101906e-01, -2.44995146e-02,  4.89501503e-01],
       ...,
       [-6.47424546e-01, -3.41809545e+00, -3.35214596e+00, ...,
         5.53579970e-01, -2.18821229e-01, -1.59264029e-02],
       [-6.31094618e+00,  7.69755262e+00,  8.60431323e-01, ...,
         5.72929032e-02,  6.86852966e-02,  6.44921926e-02],
       [-5.58686227e+00, -3.52861392e+00, -2.05901353e+00, ...,
        -5.89478379e-02, -1.59292168e-01, -1.23487870e-01]])

In [73]:
EmpleadosAttritionFinal=EmpleadosAttritionFinal.assign(CO=final[:,1])

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,BusinessTravel_Non-Travel,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,OverTime_No,Attrition_No,CO
0,50,4,3,4,4,32,4,5,0,0,0,0,1,0,1,0,1,1,4.208235
1,36,2,3,2,2,7,2,3,0,0,0,0,0,0,1,0,1,1,3.691631
2,21,2,3,1,2,1,0,1,0,0,0,0,0,1,0,1,1,0,-1.741957
3,52,2,3,3,2,18,6,8,0,0,1,0,0,0,0,1,1,1,5.842361
4,33,2,3,3,3,15,6,7,0,0,0,0,0,0,0,0,0,0,-4.140896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,8,4,5,0,0,0,1,0,0,0,0,0,0,-0.384892
396,31,2,1,2,3,4,2,2,0,0,0,0,0,0,0,0,0,0,2.045467
397,37,2,3,3,4,10,8,10,0,0,0,0,1,0,1,0,0,1,-3.418095
398,38,4,3,1,3,7,0,0,0,0,0,1,0,0,0,0,1,1,7.697553
399,33,4,3,1,2,8,7,8,0,0,0,0,0,0,0,0,1,1,-3.528614

In [74]:
EmpleadosAttritionFinal=EmpleadosAttritionFinal.assign(C1=final[:,2])

In [78]:
EmpleadosAttritionFinal

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,BusinessTravel_Non-Travel,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,OverTime_No,Attrition_No,CO,C1
0,50,4,3,4,4,32,4,5,0,0,0,0,1,0,1,0,1,1,4.208235,10.718632
1,36,2,3,2,2,7,2,3,0,0,0,0,0,0,1,0,1,1,3.691631,-0.157170
2,21,2,3,1,2,1,0,1,0,0,0,0,0,1,0,1,1,0,-1.741957,3.223972
3,52,2,3,3,2,18,6,8,0,0,1,0,0,0,0,1,1,1,5.842361,-2.225078
4,33,2,3,3,3,15,6,7,0,0,0,0,0,0,0,0,0,0,-4.140896,3.919919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,3,3,1,4,8,4,5,0,0,0,1,0,0,0,0,0,0,-0.384892,0.197605
396,31,2,1,2,3,4,2,2,0,0,0,0,0,0,0,0,0,0,2.045467,0.203384
397,37,2,3,3,4,10,8,10,0,0,0,0,1,0,1,0,0,1,-3.418095,-3.352146
398,38,4,3,1,3,7,0,0,0,0,0,1,0,0,0,0,1,1,7.697553,0.860431
399,33,4,3,1,2,8,7,8,0,0,0,0,0,0,0,0,1,1,-3.528614,-2.059014

In [76]:
EmpleadosAttritionFinal.to_csv("EmpleadosAttritionFinal.csv",index=False)